.section-hero {
  @media screen and (min-width: 1170px) {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-div {
    // @media screen and (min-width: 320px) and (max-width: 767px) {
    //   height: 450px;
    // }

    // @media screen and (min-width: 767px) and (max-width: 1169px) {
    //   margin-top: 15px;
    // }

    @media screen and (min-width: 1170px) and (max-width: 1600px) {
      text-align: left;
    }

    & .titel {
      font-family: 'Rubik One', sans-serif;
      font-weight: 700;
      font-size: 55px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #fff, rgb(255, 64, 5));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
      margin: 0;
    }

    & p {
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      background: linear-gradient(90deg, #fff, rgb(247, 117, 77));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
    }
  }

  .right-div {
    width: 400px;
    margin-top: 40px;

    & .items-list {
      display: flex;
      margin: -5px;

      // @media screen and (min-width: 320px) and (max-width: 767px) {
      //   justify-content: space-around;
      // }

      @media screen and (min-width: 768px) and (max-width: 1169px) {
        justify-content: space-around;
      }

      @media screen and (min-width: 1170px) and (max-width: 1600px) {
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: auto;
      justify-content: space-around;
    }

    @media screen and (min-width: 320px) and (max-width: 1169px) {
      width: auto;
      justify-content: space-around;
    }

    & .item {
      width: 185px;
      height: 185px;
      position: relative;
      cursor: pointer;

      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 120px;
        height: 100px;
      }

      @media screen and (min-width: 767px) and (max-width: 1169px) {
        width: 150px;
        height: 150px;
      }

      & .text-item {
        font-size: 18px;
        margin: 0;

        color: rgba(255, 255, 255, 0.5);

        @media screen and (min-width: 320px) and (max-width: 767px) {
          color: rgba(255, 255, 255, 1);
          font-size: 12px;
          text-shadow: 1px 1px 5px black;
        }

        @media screen and (min-width: 767px) and (max-width: 1169px) {
          color: rgba(255, 255, 255, 1);
          text-shadow: 1px 1px 5px black;
        }
      }

      & .big-text {
        font-size: 50px;
        margin: 20px 0 0 0;
        @media screen and (min-width: 320px) and (max-width: 767px) {
          margin: 0;
          font-size: 30px;
        }
      }
    }

    .bg-color1 {
      transition: 1s;
      background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        from($bg-color),
        to($none-color)
      );

      &:hover {
        background-image: -webkit-gradient(
          linear,
          right bottom,
          left top,
          from($bg-color-hover),
          to($none-color)
        );
      }
    }

    .bg-color2 {
      background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from($bg-color),
        to($none-color)
      );

      &:hover {
        background-image: -webkit-gradient(
          linear,
          left bottom,
          right top,
          from($bg-color-hover),
          to($none-color)
        );
      }
    }

    .bg-color3 {
      background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        from($bg-color),
        to($none-color)
      );
      &:hover {
        background-image: -webkit-gradient(
          linear,
          right top,
          left bottom,
          from($bg-color-hover),
          to($none-color)
        );
      }
    }

    .bg-color4 {
      background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from($bg-color),
        to($none-color)
      );
      &:hover {
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($bg-color-hover),
          to($none-color)
        );
      }
    }
  }
}
