.button {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.03em;
  cursor: pointer;

  align-items: center;
  text-align: center;

  width: 185px;
  height: 37px;

  margin-top: 80px;

  background: none;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(12deg, #2d60a1, #101f2d, #2d60a1);
  position: relative;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.02);
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1169px) {
    margin-top: 90px;
  }
}

.button::after,
.button::before {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
}

.button::after {
  top: -1px;
  right: -1px;
  border-top: $border-color;
  border-right: $border-color;
}
.button::before {
  bottom: -1px;
  left: -1px;
  border-bottom: $border-color;
  border-left: $border-color;
}
