.logo {
  width: 300px;
  border: 2px solid rgba(152, 147, 147, 0.21);
  border-bottom: none;
  border-top: none;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 350px) and (max-width: 767px) {
    padding: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    justify-content: center;
  }

  @media screen and (min-width: 1170px) {
    width: 317px;
    border-bottom: none;
    padding: 25px 18px 35px 26px;
    height: 100px;
  }

  & .img-logo {
    width: 200px;

    @media screen and (min-width: 768px) and (max-width: 1169px) {
      width: 150px;
      padding: 0 0 0 10px;
      justify-content: center;
    }

    @media screen and (min-width: 1170px) {
      width: 290px;
    }
  }
}

.logo::before,
.logo::after,
.corners::before,
.corners::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
}

.logo::before {
  top: -1px;
  left: -1px;
  border-top: $border-color;
  border-left: $border-color;
}
.logo::after {
  top: -1px;
  right: -1px;
  border-top: $border-color;
  border-right: $border-color;
}
.corners::before {
  bottom: -1px;
  left: -1px;
  border-bottom: $border-color;
  border-left: $border-color;
}
.corners::after {
  bottom: -1px;
  right: -1px;
  border-bottom: $border-color;
  border-right: $border-color;
}
