.divImg {
  visibility: hidden;
  @media screen and (min-width: 1170px) {
    visibility: visible;
    background-image: url(../../images/mars2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%, auto auto;

    position: fixed;
    z-index: 1;
    min-width: 382px;
    opacity: 1;
    min-height: 382px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.line {
  position: fixed;
  z-index: 2;
  width: 107%;
  left: -51%;
  bottom: 18%;
}
